stdin as [-a -D -g -J -L -R -w -Z]
file awk '{print}'
stdin bc [-c -l]
file bison [-u -y -t -l -k]
cp - calendar calendar
file calendar [-d] -f
stdin cat [-b -e -l -n -s -t -u -v] 
cp t.c cc [-E -S -c -ansi -ObjC -fblocks -g -ftrapv]
file checknr [-a -c -f -s]
two_files cmp [-h -l -x -z]
stdin col [-b -f -h -p -x]
stdin colcrt [- -2]
stdin colrm
two_files comm
cp t compress [-c -f -v]
stdin cpp [-E -S -c -ansi -ObjC -fblocks -g -ftrapv]
stdin csh [-f -F -i -l -m -n -q -s -t]
cp t.c ctags [-B -F -T -a -d -f -u -v -w -x]
file cut [-n -s -w] -c 10
stdin dc [-x]
file dd 
two_files diff [-i -E -w -B -a -p -q -e --normal --left-column]
stdin ed [-s]
stdin eqn [-C -N -r -R]
stdin ex [-F -R -r -S -s]
stdin expand
stdin expr 
file find [-E -H -X -d -s -x]
stdin flex
stdin fmt [-c -m -n -p -s]
stdin fold [-b -s]
cp t.c gcc
stdin gdb [-n -q -batch -f]
stdin grep a [-a -b -c -F -H -h -I -i -L -l]
stdin grn [-C]
file groff [-e -l -L -N -p -R -s -S -t -U -V -X -z -Z]
stdin head
stdin indent [-bacc -bad -bc -bl -st]
two_files join
file look a
stdin m4 [-g -P -s]
file mail -s "subject" 15927119728@163.com < 
file make [-e -i -k -n -N -q -r -s -t -W -w -X] -f
file md5 [-q -r -t]
stdin mesg 
stdin more
stdin neqn 
file nm [--debug-syms --defined-only --line-numbers --no-demangle --no-sort]
file nroff
stdin nroff
stdin pic [-C -S -U -n -t]
stdin pr 
file refer [-b -e -n -C -P -S -k -l -B -R]
stdin refer [-b -e -n -C -P -S -k -l -B -R]
stdin rev 
two_files sdiff [-l -s -a -b -d -i -t]
stdin sed [-E -a -l -n -r -u]
stdin soelim [-C]
file sort [-c -u -s -d -f -g -h -i]
stdin sort [-m -s]
file split [-d]
cp t split [-d] -10
stdin strings [-a -f]
file strip [-g -p -s -w -x -X]
stdin sum 
stdin tail [-f -F -q]
stdin tbl [-C]
stdin tee 
stdin telnet [-c -d -4 -6 -8 -E -K -L -N -r -y -u]
stdin tr a b 
stdin troff [-a -b -c -C -E -R -U -z]
stdin tsort
stdin ul [-i]
stdin uniq [-c -d -u -i]
stdin units [-e -q -U -t -v]
stdin vgrind - [-W -f -l -n -t -x]
stdin wc [-L -c -l -m -w]
stdin xargs
stdin xargs test
file yacc [-B -d -g -i -L -P -r -s -t -v]
file zic [-D -v -s]
pty htop
pty vim
pty telnet
pty ex
pty ftp
pty csh
pty zsh