stdin gdb
stdin as 
stdin bc 
stdin cat 
stdin col 
stdin colcrt 
stdin colrm 
stdin dc 
stdin expand 
stdin ftp 
stdin find 
stdin grep a 
stdin head 
stdin latex 
stdin lex 
stdin more 
stdin pic 
stdin ptx 
stdin rev 
stdin sh 
stdin soelim 
stdin sort 
stdin spell 
stdin strings 
stdin sum 
stdin tail 
stdin tbl 
stdin tee /tmp/tee.tmp 
stdin telnet 
stdin tex 
stdin tr a b 
stdin tsort 
stdin ul 
stdin uniq 
stdin wc 
file awk '{print}' 
file awk '/a/ {print}' 
file colcrt - 
file comm t12 
file colrm 2 4 
file cpp 
file diff t12 
file expand 
file fmt 
file fold 
file grep -c "ab" 
file head 
file join t12 
file lex 
file look a 
file mail -s "subject" 15927119728@163.com < 
file make -f 
file m4 
file nm 
file nroff 
file pr 
file rev 
file sed 's/a/b/' 
file sort 
file split 
file strings 
file strip 
file sum 
file tail 
file tbl 
file troff 
file tsort 
file ul 
file uniq 
file wc 
file yacc 
cp - calendar calendar 
cp t.c cc 
cp t.f f77 
cp t split -10 
cp t.c ctags 
stdin ex 
stdin csh 
double diff 
double join 
double comm 
pty vim
pty htop
