stdin as
file awk '{print}'
stdin bc
file bison
file calendar -f 
stdin cat
cp t.c cc
stdin col
stdin colcrt
file colcrt - 
stdin colrm 
file colrm 2 4 
two_files comm
file cpp 
stdin csh
cp t.c ctags 
file cut 
stdin dc 
stdin dd
two_files diff 
file ed 
file eqn 
stdin ex 
stdin expand 
file expand 
stdin expr
cp t.f f77 
stdin find 
stdin flex 
file fmt 
file fold
stdin ftp 
file gcc 
stdin gdb 
stdin grep a 
file grep -c "ab" 
file groff 
stdin head 
two_files join 
stdin latex 
file lex 
file look a 
file m4 
file mail -s "subject" 15927119728@163.com < 
file make -f 
stdin more
file neqn
file nm 
file nroff 
stdin pic 
file pr 
stdin ptx 
file rev  
two_files sdiff 
file sed 's/a/b/' 
stdin sh 
stdin soelim 
stdin sort 
file sort 
stdin spell 
file split 
file strings 
file strip 
stdin sum 
file tail 
stdin tbl 
stdin tee /tmp/tee.tmp 
stdin tex 
stdin tr a b 
file troff 
file tsort
stdin ul 
stdin uniq 
file wc 
stdin xargs 
file yacc
file zic
pty htop
pty vim
pty telnet
pty ex
pty ftp
pty csh
pty zsh 
