file as
stdin as
file awk '{print}'
stdin bc
file bison
file calendar -f
file cat
cp t.c cc
file checknr
two_files cmp
stdin col
file colcrt
stdin colrm 6
two_files comm
file compress
file cpp
stdin csh 
file ctags
file cut
stdin dc 
stdin dd 
two_files diff
stdin ed
stdin eqn
stdin ex
stdin expand
stdin expr
file find
file fmt
file fold
file gcc
stdin lldb
file grep "e" -f
stdin grn
file groff
file head 
file indent
two_files join
file look a
stdin m4
file make
stdin md5
file mdls
file mig
stdin neqn
file nm
file nroff
file pic
file pr
file refer
file rev
two_files sdiff
stdin sed
stdin sh
file soelim
file sort
file split
file strings
file strip
file sum
file tail
file tbl
stdin tee
stdin tr a b
file troff
file tsort
file ul
two_files uniq
file units -f
file wc
stdin xargs
file yacc
file zic
stdin zsh
pty htop
pty vim
pty telnet
pty ex
pty ftp
pty csh
pty zsh