stdin as
stdin bc
stdin cat
stdin checknr
stdin col
stdin colcrt
stdin colrm
stdin cpp
stdin dc
stdin dd
stdin declare
stdin neqn
stdin eqn
stdin expand
stdin flex
stdin fmt
stdin fold
stdin grep a
stdin grn
stdin groff
stdin head
stdin indent -st
stdin lex
stdin m4
stdin md5
stdin more
stdin mesg
stdin nroff
# stdin pbcopy
# stdin pbpaste
stdin pic
stdin pr
stdin refer
stdin rev
# stdin sed s/a/b/g
stdin sh
stdin soelim
stdin sort
stdin strings
stdin sum
stdin tail
stdin tbl
# stdin tee /tmp/tee.tmp
stdin tr a b
stdin troff -t
stdin tsort
stdin ul
stdin uniq
stdin units
stdin wc
file awk '{print}'
file comm
file cmp t12
file cut -b 1245
file sdiff
file scplit
file diff
# file troff
file expr
file flex
file join
file look a
file make -f
file mdls
file mig
file nm
file paste
file strip
file yacc
file zic
file zsh
cp - calendar calendar
cp t.c cc
cp t.c gcc
cp t compress
cp t.f f77
cp t.c lint
cp t.p pc
cp t split -10
cp t.c ctags
cp tags ptags
cp tags ctree
# stdin ex
# stdin ed
# stdin mail
# stdin Mail
stdin csh
stdin xargs test
